# Logs
logs
*.log
npm-debug.log*

# Dependências (muito pesadas, não devem subir)
node_modules
dist
dist-ssr

# Arquivos de sistema e editores
.DS_Store
.vscode
.idea

# Arquivos compactados (O ERRO ESTAVA AQUI)
*.zip
*.rar
*.7z

# Variáveis de ambiente
.env
.env.local
